@import '../../styles/variables';

nav {
  background: $gradient-background;
  padding: 1rem 3rem;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: inherit;
    gap: 0.5rem;
  }
}