$blue: #121e6c;
$red: #ee424e;
$dark-grey: #606060;
$light-grey: #f3f3f3;
$color-background: #f6f4f9;
$font-family: 'Montserrat', sans-serif;
$gradient-background: linear-gradient(270deg, $red 13.86%, $blue 83.33%);
$card-radius: 0.5rem;
$full-radius: 3rem;
