$blue: #121e6c;
$blue-hover: #3e4983;
$red: #ee424e;
$red-hover: #ce3a43;
$white: #FFFFFF;
$dark-grey: #606060;
$light-grey: #f3f3f3;
$color-background: #f6f4f9;
$font-family: 'Montserrat', sans-serif;
$gradient-background: linear-gradient(270deg, $red 13.86%, $blue 83.33%);
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
