@import '../../styles/variables';

.dialog {
  background-color: rgba($dark-grey, 0.6);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  &--content {
    background-color: $white;
    border-radius: $spacing-md 0 0 $spacing-md;
    height: 100%;
    width: 40%;
    padding: $spacing-lg;
    position: inherit;
    right: 0;
  }

  &--close {
    position: inherit;
    right: $spacing-lg;
    top: $spacing-lg;
    z-index: 1;
  }
}
