@import '../../styles/variables';

.option-box {
  height: fit-content;
  padding: 0.5rem;
  border-radius: $spacing-md;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: $light-grey;
}

