@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles/variables';

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;
  color: $dark-grey;
  background-color: $color-background;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

svg.logo {
  fill: #ffffff;
}

ul {
  list-style: none;
}

main {
  padding: 1rem;
}

.background-gradient {
  background: $gradient-background;
  color: $white;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-gray {
  color: $light-grey;
}

.text-semibold {
  font-weight: 500;
}

@media (min-width: 768px) {
  main {
    padding: 1rem 3rem;
  }
}
